$white-color: #FFF;
$coral-color: #eacb31; 
$flame-color: #E4572E;
$shamrock-color: #4CA866;
$turquoise-green-color: #9DCFAB;
$blue-france-color: #3C91E6;
$black-color: #000000;
$quick-silver-color: #A2A2A2;
