h1 {
  font-size: clamp(1.875rem, 3vw + 1rem, 4rem);
}

h2 {
  font-size: clamp(1rem, 2vw + 0.5rem, 2.5rem);
}

p {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  margin: 0 auto;
  padding: 0 15px;
}

.box__arrow {
  background-color: #E4572E;
  -webkit-box-shadow: 20px 32px 0px 4px #eacb31;
  -moz-box-shadow: 20px 32px 0px 4px #eacb31;
  box-shadow: 20px 32px 0px 4px r #eacb31;
}

.info__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  padding: 4%;
  background-color: #FFF;
}

.info__text {
  max-width: 200px;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.pt-mono-regular {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
.header {
  width: 100%;
  /* position: fixed; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;
}

.navbar__logo,
.navbar__list--items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__link--small {
  width: 10%;
}

.navbar__image {
  width: 100%;
}

.link__items {
  color: #A2A2A2;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.link__items--border {
  border: 1px solid #A2A2A2;
  padding: 5px 10px;
}

.link__items--bg {
  background-color: #4CA866;
  color: #FFF;
  transition: all 0.25s ease;
}
.link__items--bg:hover {
  background-color: #9DCFAB;
}

.main__content {
  max-width: 1200px;
  margin: 0 auto;
}

.ppal__banner {
  display: flex;
}

.banner__content {
  position: relative;
  width: 70%;
}

.banner__info {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.image__ppal {
  width: 100%;
}

.box__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.name__section {
  padding-bottom: 15%;
  padding-left: 20%;
}

.arrow__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
  position: relative;
}

.box__arrow {
  padding: 10%;
  position: absolute;
  left: -15px;
}

/* Ven a Conocernos */
.ubicacion {
  display: flex;
}

.ubicacion__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.ubicacion__texto {
  width: 38%;
}

.mapa {
  width: 62%;
}

.mapa__content {
  background-color: #3C91E6;
}

.mapa__imagen {
  width: 90%;
  position: relative;
  top: 20px;
  right: 20px;
}

.ubicacion__right {
  width: 30%;
  background-image: url("/assets/img/img-2.png");
  background-size: cover;
}

.ubicacion__titulo {
  text-align: center;
  font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

.ubicacion__descripcion {
  padding-left: 13%;
  padding-right: 10%;
  padding-top: 5%;
}

.cafetera {
  position: relative;
}
.cafetera__imagen {
  width: 100%;
}

.cafe {
  position: absolute;
  top: 0;
  left: -35px;
  width: 20%;
  height: 120px;
  overflow: hidden;
}
.cafe__imagen {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
